/*
Theme Name:     Listify Child
Theme URI:      http://astoundify.com/themes/listify
Template:       listify
Version:        1.0
*/


/* login & register form */
a:focus,
a:active {
  outline: 0;
}
.log_reg_form .form {
  background: #2854A1;
  padding: 40px;
  max-width: 600px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.log_reg_form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.log_reg_form .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.log_reg_form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 5px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 18px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.log_reg_form .tab-group li a:hover,
.log_reg_form .tab-group li.tab .active {
  background: #179b77;
  color: #ffffff;
}
#signup .tab-group li.tab a.active {
    background: transparent;
    border: 1px solid #f5f5f5;
    border-bottom: 0;
    border-radius: 2px;
}
#signup .tab-group li.tab a {
  background: transparent;
  border-bottom: 1px solid #f5f5f5;
}

.log_reg_form .tab-content > div:last-child {
  display: none;
}
.log_reg_form .form h1 {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;
}

.log_reg_form .form h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 19px;
    margin: 0;
    margin-bottom: 26px;
}
.log_reg_form .form form label {
  position: absolute;
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 15px;
}

.log_reg_form .form form label .req {
  margin: 2px;
  color: #1ab188;
}


.log_reg_form .form form label.active {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  left: 2px;
  font-size: 14px;
}

.log_reg_form .form form label.highlight {
  color: #ffffff;
}

input#datedropper {
    padding: 2px 10px !important;
}
.log_reg_form .form form input, 
.log_reg_form .form form textarea,
.log_reg_form .form form select {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.log_reg_form .form form input[type="phone"]
.listify-select, 
.mfp-content .select, .select {
	display: block;
}
.js-toggle-area-trigger:after, 
.listify-select:after,
.select:after {
	color: rgba(255, 255, 255, 0.5);
	line-height: 35px !important;
}
.log_reg_form .form form input:focus, 
.log_reg_form .form form textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.log_reg_form .form form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}


.log_reg_form .form form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}


.log_reg_form .form form .top-row:after {
  content: "";
  display: table;
  clear: both;
}

.log_reg_form .form form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.log_reg_form .form form .top-row > div:last-child {
  margin: 0;
}


.log_reg_form .form form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.log_reg_form .form form .button:hover, 
.log_reg_form .form form .button:focus {
  background: #179b77;
}


.log_reg_form .form form .button-block {
  display: block;
  width: 100%;
}


.log_reg_form .form form .forgot {
  margin-top: -20px;
  text-align: right;
}
.log_reg_form .form form .forgot a{
  color: #fff;
}
/* social login */
.apsl-login-networks.theme-4 {
    width: 300px;
    margin: 7em 10em auto;
}

div.social-networks a {
	display: block;
}
.visible-mobile {
	display: none;
}

@media only screen and (max-width: 991px) {
	.visible-mobile {
		display: block;
	}
	.hidden-mobile {
		display: none !important;
	}
	.apsl-login-networks.theme-4 {
		width: auto !important;
		display: table !important;
		margin: 0 auto !important;
	}
}



/* date picker */
div.datedropper.my-style {
  border-radius: 8px;
  width: 180px;
}
div.datedropper.my-style .picker {
  border-radius: 8px;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}
div.datedropper.my-style .pick-l {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.datedropper.my-style:before,
div.datedropper.my-style .pick-submit,
div.datedropper.my-style .pick-lg-b .pick-sl:before,
div.datedropper.my-style .pick-m,
div.datedropper.my-style .pick-lg-h {
  background-color: #1AB188;
}
div.datedropper.my-style .pick-y.pick-jump,
div.datedropper.my-style .pick li span,
div.datedropper.my-style .pick-lg-b .pick-wke,
div.datedropper.my-style .pick-btn {
  color: #1AB188;
}
div.datedropper.my-style .picker,
div.datedropper.my-style .pick-l {
  background-color: #FFF;
}
div.datedropper.my-style .picker,
div.datedropper.my-style .pick-arw,
div.datedropper.my-style .pick-l {
  color: #4D4D4D;
}
div.datedropper.my-style .pick-m,
div.datedropper.my-style .pick-m .pick-arw,
div.datedropper.my-style .pick-lg-h,
div.datedropper.my-style .pick-lg-b .pick-sl,
div.datedropper.my-style .pick-submit {
  color: #FFF;
}
div.datedropper.my-style.picker-tiny:before,
div.datedropper.my-style.picker-tiny .pick-m {
  background-color: #FFF;
}
div.datedropper.my-style.picker-tiny .pick-m,
div.datedropper.my-style.picker-tiny .pick-m .pick-arw {
  color: #4D4D4D;
}
div.datedropper.my-style.picker-lkd .pick-submit {
  background-color: #FFF;
  color: #4D4D4D;
}
select option {
    background-color: #2854A1;
    color: #FFF;
}
/* phone varification */
input#phone_customer,  
input#phone_business {
    padding-left: 45px !important;
}
.intl-tel-input .selected-flag .iti-arrow {
	border-top: 4px solid rgba(255, 255, 255, 0.5);
}
span#valid-msg {
    color: #1AB188;
}
span#error-msg {
    color: red;
}
.error-msg {
  border: 1px solid red !important;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.5);  
}

/* registration error */
.result-message.alert-danger {
    display: none;
    position: relative;
    color: red;
    padding: 8px 0 8px 30px;
    margin-bottom: 16px;
}
#login .result-message.alert-danger {
  margin-bottom: 30px;
}
.result-message.alert-danger:before {
    content: "\f05e";
    position: absolute;
    font-family: 'FontAwesome';
    color: red;
    left: 10px;
    font-size: 15px;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


/* remodal */
#modal1Title {
  margin: 0 0 35px;
}
.verification_content {
  text-align: left;
  display: inline-flex;
  align-items: center;
}
.verification_content label {
  display: block;
  text-align: left;
  padding-bottom: 5px;
}
.verification_content .verification_img {
  width: 100px;
  margin-right: 20px;
}
.verification_content input[type="number"] {
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.verification_content .custom_btn {
  padding: 12px 25px;
  font-weight: bold;
}
.success {
    padding: 5px 0 0;
}
.phone_sucess {
  color: green;
}
.phone_failed {
  color: red;
}

/* Wp Social Login */
.wp-social-login-widget {
    padding: 100px 0;
}
.wp-social-login-connect-with {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.wp-social-login-provider-list {
  padding: 0 !important;
}
.wp-social-login-provider-list a {
    display: flex;
    border-radius: 3px;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-weight: 600;
    max-width: 150px;
}
.wp-social-login-provider::before {
    font-family: 'FontAwesome';
    font-size: 13px;
    margin-right: 10px;
}
.wp-social-login-provider-facebook {
    background: #48629b none repeat scroll 0 0;
}
.wp-social-login-provider-twitter {
    background: #23b0e6 none repeat scroll 0 0;
}
.wp-social-login-provider-google {
    background: #dc4b38 none repeat scroll 0 0;
}
.wp-social-login-provider-facebook::before {
    content: "\f09a";
    
}
.wp-social-login-provider-twitter:before {
    content: "\f099";
}
.wp-social-login-provider-google:before {
  content: "\f1a0";
}



/*----------------------------------
          Profile Page                   
-----------------------------------*/
.page-template-profile nav#site-navigation {
    display: none;
}
.user_profile {
    padding: 40px 0;
}
.user_profile .user_profile_body {
    padding: 20px;
    background: #f7f7f7;
    margin-bottom: 20px;
}
.user_profile .tab-group {
    list-style: none;
    margin: 0;
    border: none;
    background: none;
    border-bottom: solid 2px #2854A1;
}
.user_profile .tab-group li {
    display: table-cell;
    width: 1%;
}
.user_profile .tab-group li a {
    color: #555;
    display: block;
    font-size: 15px;
    padding: 8px 15px;
    text-align: center;
}
.user_profile .tab-group li a.active,
.user_profile .tab-group li a:hover,
.user_profile .tab-group li a:focus,
.user_profile .tab-group li a:active {
    color: #fff;
    border: none;
    background: #2854A1;
}
.user_profile .user_profile_edit {
    padding: 20px;
    background: #fff;
}
.user_profile .user_profile_edit h2 {
  margin: 5px 0 10px;
}
.user_profile .dl-horizontal dt {
    text-align: inherit;
}

.user_profile .user_profile_edit hr {
    margin: 17px 0 15px;
}

.user_profile .button {
    border: 0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 15px;
    position: relative;
    background: #2854A1;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.user_profile .button_u {
    background: #95a5a6;
}

/* Password Change Tab */
.user_profile .password_change section {
    margin-bottom: 20px;
}
.user_profile .password_change .input {
    position: relative;
    display: block;
}
.user_profile .password_change .icon_append {
    top: 1px;
    right: 1px;
    padding: 0 3px;
    min-width: 34px;
    width: 29px;    
    height: 32px;
    font-size: 14px;
    line-height: 33px;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    position: absolute;
}
.user_profile .password_change input {
    font-size: 14px;
    border-radius: 0;
    padding-right: 46px;
    height: 34px;
    padding: 6px 12px;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.user_profile .password_change .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}
.user_profile .password_change .tooltip {
    position: absolute;
    z-index: 1;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0,0,0,0.9);
    color: #fff;
    opacity: 0;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}
.user_profile .password_change .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}
.user_profile .password_change .input input:focus + .tooltip-bottom-right, 
.user_profile .password_change .textarea textarea:focus + .tooltip-bottom-right {
    right: 0;
    left: auto;
    margin-top: 5px;
}
.user_profile .password_change .input input:focus + .tooltip, 
.user_profile .password_change .textarea textarea:focus + .tooltip {
    opacity: 1;
}
.user_profile .password_change .tooltip-bottom-right:after {
    bottom: 100%;
    right: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0,0,0,0.9);
    border-left: 4px solid transparent;
}
.user_profile .password_change .tooltip:after {
    content: '';
    position: absolute;
}
.checkbox {
    display: inline-flex;
    align-items: center;
}
.checkbox input {
    width: 20px !important;
    height: 20px !important;
    margin-right: 15px;
}
.checkbox p {
    margin: 0;
}

/* Payment Tab */
.user_profile .payment_method section {
    margin-bottom: 20px;
}
.user_profile .payment_method label.radio {
    margin-right: 30px;
}
.user_profile .payment_method .input input,
.user_profile .payment_method .select select {
    font-size: 14px;
    border-radius: 0;
    padding-right: 46px;
    height: 34px;
    padding: 6px 12px;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Settings Tab */
.user_profile .user_settings {

}
.user_profile .user_settings .toggle {
    margin-bottom: 4px;
    padding-right: 61px;
    font-size: 15px;
    line-height: 27px;
    color: #404040;
    cursor: pointer;
    position: relative;
    display: block;
}
.user_profile .user_settings .toggle input {
    position: absolute;
    left: -9999px;
}
.user_profile .user_settings .toggle i {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 54px;
    height: 21px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    background: #fff;
}
.user_profile .user_settings .toggle i:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 6px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    opacity: 1;
    background-color: red;
    -ms-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
}
.user_profile .user_settings .toggle i:after {
    content: 'OFF';
    position: absolute;
    top: 3px;
    right: 8px;
    left: 8px;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    text-align: left;
    color: #5f5f5f;
}
.user_profile .user_settings .toggle input:checked + i:after {
    content: 'ON';
    text-align: right;
}
.user_profile .user_settings .toggle input:checked + i:before {
    right: 36px;
    background-color: green;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
      float: left;
      width: 160px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .dl-horizontal dd {
      margin: 0;
      margin-left: 180px;
  }
}
@media (max-width: 768px) {
  .user_profile_img, .user_profile_desc {
      padding: 0 20px;
      text-align: center;
  }
  .user_profile .tab-group li {
      display: block;
      width: 100%;
  }
}
.user_profile input::-webkit-input-placeholder { 
  color: #A9A9A9;
}
.user_profile input::-moz-placeholder {
  color: #A9A9A9;
}
.user_profile input:-ms-input-placeholder {
  color: #A9A9A9;
}
.user_profile input:-moz-placeholder { 
  color: #A9A9A9;
}