/* Tab content */
.wrap {}

#savingwallet_admin a.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inline-block;
	width: 100%;
}
.cashback_reports {
    margin-top: 50px;
}


#banks_verification { 
}
[data-accordion] {
 	border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #FFF;
    margin-bottom: 5px;
}
[data-accordion] [data-control] {
	font-size: 16px;
}
[data-control], [data-content] > * {
	border-bottom: 0;
}
[data-control], [data-content] > div {

}

div.btn_area {
	padding-bottom: 10px;
}

div.btn_area .verify_btn,
div.btn_area .withdrawl_btn {
	background-color: #2854a1;
	color: #FFF;
	padding: 5px 10px;
	cursor: pointer;
}
.basic_info {
	display: inline-block;
}
.support_docs {
	max-width: 500px;
	display: inline-block;
}
.support_docs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.support_docs ul li {
	display: inline-block;
	max-width: 100px;
}
.support_docs ul img {
	width: 100%;
}
#list_preview_doc {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  min-height: 50px;
  width: 100px;
}
#list_preview_doc li {
  display: inline-block;
  width: 44px;
  position: relative;
  margin-right: 3px;
  margin-bottom: 0;
}
#list_preview_doc li a,
#list_preview_doc li a:hover,
#list_preview_doc li a:focus {
	outline: 0;
}
#list_preview_doc li img  {
  width: 100%;
}
a.verify_btn {
    color: #FFF;
    background: #0073aa;
    padding: 2px 5px;
    display: block;
    margin-bottom: 3px;
    text-transform: uppercase;
    cursor: pointer;
}


.add_user_balance {
    background: #ddd;
    padding: 10px 20px;
}
.add_user_balance h3 {
    margin: 0;
}

form#debitCredit input[type=submit] {
    text-transform: Capitalize;
}

ul.admin_filters {}
ul.admin_filters ul { list-style: none; }
ul.admin_filters li {
	display: inline-block;
	margin-right: 20px;
}
ul.admin_filters li a {
	background-color: #2854a1;
    color: #FFF;
    padding: 5px 10px;
    text-decoration: none;
}
ul.admin_filters li a.active {}